/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background:transparent!important;
}


.card-header {
    background-color: white !important;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 4px;
}
.menu-item:hover {
    background-color: #042760!important;
}

.mdc-notched-outline__notch {
    border-right: 0;
}